<banner text="You Can Haz Votes!"></banner>

<div class="container" ng-style="{height: $ctrl.height}">
  <div class="row">
    <div class="col-md-6 col-lg-6">  
      <!--<form class="search-form">
          <input type="text" class="form-control" placeholder="Search Votes!" ng-model="$ctrl.newThing">
      </form>-->
  
      <h1 class="page-header">Others Votes</h1>
      <ul>
        <li ng-repeat="thing in $ctrl.topVotes"><a ui-sref="poll({pollName: thing.name})" key="{{thing.name}}">{{thing.name}}</a></li>
      </ul>    
    </div>
    <div class="col-md-6 col-lg-6">  
        <h1 class="page-header">My Votes</h1>
        <ul >
          <li ng-repeat="myvote in $ctrl.myVotes"><a ui-sref="poll({pollName: myvote.name})" key="{{myvote.name}}">{{myvote.name}}</a></li>
        </ul>      
    </div>
  </div>
</div>
