<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/cattie.jpg" alt="I'm Yeoman">
    <h1>You Can Haz Votes!</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">  
      <form class="search-form">
          <input type="text" class="form-control" placeholder="Search Votes!" ng-model="$ctrl.newThing">
    </form>
  
      <h1 class="page-header">Top Votes:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>

      <form class="create-vote-form">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Create Vote!</button>
      </form>
    
    </div>
  </div>

</div>
