main {
  .container{
    margin-top: 20px;
    padding-right: 200px;
    padding-left: 200px;

  }
  .search-form {
    margin: 20px 0;
  }

  .create-vote-form {
    margin: 30px;
    text-align: center;
  }

  
  li{
    list-style-type: none;
  }
}

