main {
  .container{
    margin-top: 20px;
  }
  .search-form {
    margin: 20px 0;
  }

  .create-vote-form {
    margin: 30px;
    text-align: center;
  }
  ul{
    overflow: auto;
    max-height: 300px;
  }
  li{
    list-style-type: none;
  }
}

