poll > div.container{
    margin-top: 20px;
   
   form{
       padding-top: 20px;
       padding-bottom: 20px;
  
       div.row{
           margin-left: 0;
       }
       input.option{
           margin-top: 5px;
           margin-bottom: 5px;
       }
   }   
  }
  