<banner text="You Can Votes!"></banner>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form class="vote-form">
                <h1>{{pollCtrl.pollName}}</h1>
                
                <div class="radio" ng-repeat="option in pollCtrl.poll.options">
                    <label><input type="radio" ng-model="pollCtrl.optionCounter" value="{{option.name}}">{{option.name}}</label>
                </div>
                
                <div class="row">
                    <button class="btn btn-primary" ng-click="pollCtrl.addOption()" ng-disabled="pollCtrl.canAddOption()">Add Option</button>
                    <button class="btn btn-primary" ng-click="pollCtrl.submit()" >Vote</button>
                    <button class="btn btn-primary" ng-click="pollCtrl.delete()" ng-show="pollCtrl.canDeletePoll()">Delete Poll</button>                
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <canvas id="mychart" width="400" height="300"></canvas>
        </div>
    </div>
</div>